@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@300&family=Dancing+Script&family=Indie+Flower&family=Orbitron&family=Playfair+Display:ital,wght@0,800;1,700&family=Rajdhani&family=Red+Hat+Mono:wght@300&family=Roboto+Mono:wght@200&family=Ropa+Sans&family=Rubik+Beastly&display=swap');
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.navbar{
    color : white;
    background-color: black;
}
.navbar-nav{
    margin-left : auto;
    display: flex;
    justify-content: space-evenly;
    gap : 1.5em;
    font-size : 1.3em;
    color : red;
}
.navbar-nav .nav-item a{
    color : red;
    font-weight: bold ;
}
.navbar-brand{
    color :white;
    font-size : 1.3em;
}
.navbar-brand:hover{
    color :white;
}
.O{
    font-size : 1.5em;
    font-family: 'Orbitron', sans-serif;
}
.navbar span{
    color : white;
}
.nav-item1 a:hover,
.nav-item2 a:hover,
.nav-item3 a:hover,
.nav-item4 a:hover{
    border-bottom : 1px solid white;
    transition: all .3s ease-in-out;
}
.huh{
    font-size : 1.8em;
    color : red;
}
details{
    padding : 0.2em;
    font-size : 3em;
    font-family:'Orbitron', sans-serif;
}
summary{
    color : rgb(230, 56, 56);
}
.first{
    font-size: 2em;
}
details p{
    padding-left : .8em;
    letter-spacing: .2em;
}
.commands{
    padding : 1em;
    color : white;
    background-color: black;
}
.h7{
    font-weight: bold;
}
.contact{
    background-color: black;
    text-align: center;
    font-size : 1.2em;
    padding : 1em;
}
footer{
    text-align: center;
    padding : 0.5em;
    background-color: rgb(10, 9, 9);
    color : white;
    word-spacing: 0.8em;
    letter-spacing: .1em;
}